@import "../../custom-theme.scss";
.index {
  width: 100%;
  min-height: 100vh;
  display: block;
  text-align: center;
  .gopher {
    width: 100%;
    height: 300rpx;
    overflow: hidden;
    position: absolute;
    top: 200rpx;
    left: 0;
    -webkit-box-reflect: below 2rpx -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.1)));
  }
  .go-btn {
    position: absolute;
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-items: center;
    top: 700rpx;
    justify-content: center;
    align-items: center;
    background: white;

    .at-button__text {
      color: $color-brand-light;
    }
  }
  .ft {
    position: absolute;
    bottom: 100rpx;
    font-weight: 100;
    font-size: .6rem;
    text-align: center;
    width: 100%;
    text {
      color: $color-brand;
    }

    .link {
      font-weight: 400;
      font-size: .6rem;
      text-decoration: underline;
      margin-left: 1 rem;
      text-decoration-color: $color-brand-light;
    }
  }
}
