@import "../../custom-theme.scss";

.index {
  flex-direction: column;
  width: 100%;
  background: #f2f2f2;
  .at-switch::after {
    border-bottom: none;
  }
  .at-switch {
    padding: 0;
    margin: 0;
    background: transparent;
    border-bottom: none;
    width: 300rpx;
    float: right;
    margin-right: -30rpx;
    .at-switch__title {
      flex:2;
      width: 80rpx;
      font-weight: 200;
      text-align: right;
      color: $color-brand-dark;
    }
    .at-switch__title::after {
      margin-right: 0;
      padding-right: 0;
    }
    .at-switch__container {
      flex: .2;
      transform: scale(.8);
      background: transparent;
    }
  }

  .doc-body {
    min-height: -webkit-calc(100vh - 3.84rem);
    min-height: calc(100vh - 3.84rem);
    background: #fff;
    box-shadow: 0 0.55467rem 3.47733rem 0 rgba(0, 0, 0, 0.11);
    padding-bottom: 1.28rem;


    .panel {
      margin: 0.68267rem 0 1.19467rem;
    }

    .panel__title {
      position: relative;
      color: $color-brand-dark;
      padding-left: 60rpx;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        line-height: 1.5;
        top: 5rpx;
        left: 50rpx;
        width: 8rpx;
        height: 32px;
        top:0;
        bottom: 0;
        background-color: $color-brand;
        box-shadow: 0 0.14933rem 0.256rem 0 rgba(97, 144, 232, 0.2);
      }
    }

    .panel__content {
      padding: 0 0.42667rem;

      &.no-padding {
        padding: 0;
      }
    }

    .at-article {
      padding: 40rpx;

      rich-text {
        font-size: 1.2rem;
        font-weight: 200;
      }
    }
  }

  .btn-fab {
    position: absolute;
    position: fixed;
    bottom: 60rpx;
    right: 60rpx;
    .btn-share {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
    }
    .btn-share::after {
      border: none;
    }
  }
}
