@import "../../custom-theme.scss";

.index {
  flex-direction: column;
  width: 100%;
  background: #efefef;
  .at-list {
    box-sizing: border-box;
    padding: 5%;
  }
  .at-list::after {
    border-bottom: none;
  }
  .at-list__item {
    font-size: 1.2rem;
    color: $color-brand-light ;
  }

  .at-divider__line {
    background-color: $color-brand-light;
  }
  .dl {
    font-weight: 200;
    margin-top: 1.5rem;
    width: 60%;
    margin: 0 auto;
  }
  .at-divider {
    /* elements */
    &__content {
      color: $color-brand;
      font-size: $at-divider-font-size;
    }
  }
}
